<!-- <h3>Support</h3>
<div class="grid grid-pad">
  <a *ngFor="let support of supports" class="col-1-4"
      routerLink="/detail/{{support.id}}">


    <div class="module support">
      <h4>{{support.name}}</h4>
    </div>
  </a>
</div> -->

<h3>Support</h3>

<mat-list>
<!-- <button mat-icon-button src="./assets/images/donate.png">Donate</button> -->
<button mat-list-item>Donate</button>
<mat-divider [vertical]="true"></mat-divider>
<button mat-list-item>Volunteer</button>
<!-- <button src="./assets/images/volunteer.png">Volunteer</button> -->
</mat-list>
