<!-- <h3>Support</h3>
<div class="grid grid-pad">
  <a *ngFor="let support of supports" class="col-1-4"
      routerLink="/detail/{{support.id}}">


    <div class="module support">
      <h4>{{support.name}}</h4>
    </div>
  </a>
</div> -->

<h3>Support</h3>

<mat-button></mat-button>

<!-- <mat-list>
  <mat-list-item>Donations</mat-list-item>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-list-item>Volunteer</mat-list-item>
<mat-fab> -->


  <!-- <mat-icon src="./assets/images/donate.png"></mat-icon>
</mat-fab>
<mat-fab>
  <mat-icon src="./assets/images/volunteer.png"></mat-icon>
</mat-fab> -->
