<div class="btn-group" dropdown>
  <button type="button" class="btn btn-danger">About</button>
  <button id="button-split" type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split"
          aria-controls="dropdown-split">
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>
  <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-split">
    <li role="menuitem"><a class="dropdown-item" href="#">History of the Park</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Meet the Founders</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Meet the Animals</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Careers</a>
    </li>
  </ul>
</div>
