<!-- <div class="btn-group" dropdown>
  <button type="button" class="btn btn-danger">Visit</button>
  <button id="button-split" type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split"
          aria-controls="dropdown-split">
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>
  <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-split">
    <li role="menuitem"><a class="dropdown-item" href="#">Hours</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Map</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Accessibility</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Park Policies</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Groups</a>
    </li>
  </ul>
</div> -->

<h2>Plan Your Visit</h2>
<div *ngFor="let visitdetail of visitdetails; index as visitdetailId">
  <h3>
    <a [title]="visitdetail.name + ' details'">
    {{ visitdetail.name }}
    </a>
  </h3>

  <p *ngIf="visitdetail.description">
    Description: {{ visitdetail.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-visit-alert
    [visitdetail]="visitdetail"
    (notify)="onNotify()">
  </app-visit-alert>



</div>
