<!-- <carousel>
  <slide>
    <img src="assets/images/zebra/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/peacock/2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/calf/3.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel> -->

<h1>Site under construction</h1>
<!-- <input type="text" [attr.value]="jwtToken" (change)="setJwtToken($event.target.value)"/> -->
<carousel>
<slide *ngFor="let image of images$|async">
  <app-secured-image [src]="image.images.original.url"></app-secured-image>
</slide>
</carousel>


