        <carousel>
          <slide>
            <img src='assets/images/calf/3.jpg' alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src='assets/images/peacock/2.jpg'alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src='assets/images/zebra/1.jpg'alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>

      <!-- <div class="text-center">Developed by:</div>
      <div class="text-center"><h3>Jessica Nations</h3></div>

      <div class="text-center">2019</div>
      <div class="text-center">
        <a href="https://github.com/JessicaNations/Safari">github.com/JessicaNations/Safari</a>
      </div> -->
