<h1>Site under construction</h1>
<!-- <input type="text" [attr.value]="jwtToken" (change)="setJwtToken($event.target.value)"/> -->
<carousel>
<slide *ngFor="let image of images$|async">
  <app-secured-image [src]="image.images.original.url"></app-secured-image>
</slide>
</carousel>

<!-- <h3>Upcoming Events</h3>
<div class="grid grid-pad">
  <a *ngFor="let event of events" class="col-1-4"
      routerLink="/detail/{{event.id}}">
    <div class="module event">
      <h4>{{event.name}}</h4>
    </div>
  </a>
</div> -->

